# Intro to Pandas

In [24]:
import pandas as pd

## Series

A series is a 1-dimensional array that can hold any data type such as integers, floats and strings.
It is similar to a column in a spreadsheet or a SQL table.
The example below contains three examples of series, but we will be running a series with a list of cars.

In [28]:
# 2 main datatypes
cars = pd.Series(["BMW", "Toyota", "Honda"]) # List
# series = pd.Series({'a': 'BMW', 'b': 'Toyota', 'c': 'Honda'}) # Dictionary
# series = pd.Series(5, index=[0, 1, 2, 3, 4, 5]) # Scalar
cars

0       BMW
1    Toyota
2     Honda
dtype: object

In [27]:
colors = pd.Series(["Red", "Blue", "White"])
colors

0      Red
1     Blue
2    White
dtype: object

## DataFrames

A DataFrame is a 2-dimensional array that can hold any data type similar to a series.
It is size-mutable, meaning that columns can be inserted and deleted from the DataFrame.
Can be heterogeneous, i.e. it can contain data of different types with a structure consisting of labels and axes.
Additionally, it can support missing data, which is marked as NaN.

In [30]:
car_data = pd.DataFrame({"Car make": cars, "Color": colors})
car_data

  Car make  Color
0      BMW    Red
1   Toyota   Blue
2    Honda  White